
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styling.css') }}">
</head>
<body>
    <center>
    <h2>Login now!!</h2>
    <hr>
    <h3>Login👤</h3>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <form method="post">
        <input name="u" placeholder="Username" required><br><br>
        <input name="p" type="password" placeholder="Password" required><br><br>
        <button>Login</button>
    </form>
    <a href="/">Register Now!!</a>
    </center>
</body>
</html>